<% include ../partials/header %>

<div class='container'>

    <h1 style="text-align: center">Share your experience with <%=beastName%></h1>
    <br>
    
    <!--<div style="margin:auto" >-->

      <form action="/beasts/<%=beastId%>/comments" method="POST">  <!-- action name must match with route name of the POST req route -->
      
        <div class="form-group">
          <textarea class="form-control" name='comment[text]' rows="5" style="margin: auto" ></textarea>
        </div>
  
       <button class="submit-button btn btn-md btn-primary btn-block"  style="margin: auto">submit</button>
          
      </form> 
      <br>
      <a href="/beasts/<%=beastId%>">Go Back</a>
    <!--</div>-->

</div>

<% include ../partials/footer %>


  